extends ./layouts/default

block content 
   .container 
   
     h3 The UI for the next Step
     img(src='./images/layout-04.png', alt='Layout04') 
     img(src='./images/layout-06.png', alt='Layout06')      
     
    