extends ./layouts/default

block content 
   .container 
     h2 The UI Design for The Next Development
      br
      img(src='./images/layout-04.png', alt='Layout04') 
      br      
      img(src='./images/layout-05.png', alt='Layout05')
      br
      img(src='./images/layout-06.png', alt='Layout06')      
     
    