extends ./layouts/default

block content 
   .container 
    h3 Source Code
    p Sensor Data Query lib:
       a(href="https://github.com/SimonBox/sotonSmartStreets")  View on Github
    p Website Source Code:
      a(href="https://github.com/chaohaiding/SmartStreetSoton-Node")  View on Github
    