extends ./layouts/default

block content   
  .jumbotron
    .container
      h1 CycleSpot
      p 
         | This website is demonstrating the Hackathon of Smart Street Porject, it mainly...
      p
          a.btn.btn-primary.btn-lg(role='button',href="/map") Learn More
    
    
    
    

    //- #myCarousel.carousel.slide
       ol.carousel-indicators
        li.active(data-target='#myCarousel',data-slide-to='0')
        li(data-target='#myCarousel',data-slide-to='1')
        li(data-target='#myCarousel',data-slide-to='2')
       .carousel-inner
         .item.active(data-slide-no='0')
           img(src='/images/linkeddata.jpg', alt='')
           .carousel-caption
              h4 Linked Data1
              p This is the descrition of Linked Data
         .item(data-slide-no='1')
           img(src='/images/linkedaccessibility.png', alt='')
           .carousel-caption
              h4 Linked Accessibility Data2
              p This is the descrition of Linked Accessibility Data
         .item(data-slide-no='2')
           img(src='/images/heart.png', alt='')
           .carousel-caption
              h4 Linked Accessibility Data3
              p This is the descrition of Linked Accessibility Data
       a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;
       a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo; 
   