extends ./layouts/default
block scripts
  script(src='/script/marker.js')
  script(src='/js/leaflet.awesome-markers.js')
  script(src='/js/leaflet.markercluster-src.js')
  script(src='/js/leaflet.usermarker.js')
block content 
   script.
    $("document").ready(function(){
       //leftlet map
            var center=[55,-2];
            var zoomview=5;
            var myVehicles=!{Vehicles};         
            markerrender(center,zoomview,myVehicles);
           
      });
   .container(align='center')
     .button#findBtn.btn.btn-primary Find My Location
   .container
     br
    .map#map(style="height: 500px")
      
   
   