extends ./layouts/default
block scripts
  script(src='/script/marker.js')
  script(src='/js/leaflet.awesome-markers.js')
  script(src='/js/leaflet.markercluster-src.js')
  script(src='/js/leaflet.usermarker.js')
block content 
   script.
    $("document").ready(function(){
       //leftlet map
            var center=[55,-2];
            var zoomview=5;
            var myVehicles=!{Vehicles};         
            markerrender(center,zoomview,myVehicles);   
      });
   .container(align='center')
    .button#findBtn.btn.btn-success Find My Location
    .button#addBtn.btn.btn-primary(href='#addModal',data-toggle='modal') Report Accident
   .container
     br
    .map#map(style="height: 500px")
     #addModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='addModalLabel', aira-hidden='true')
        .modal-dialog
         .modal-content
          .modal-header
            btn.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h3#privacyModalLabel Report An Accident
          .modal-body
            form(action='', method='post')    
             .input-group
              span.input-group-addon Accident Severity
             input.form-control(type='text', placeholder='1(fatal),2(serious), 3(slight)')
          .modal-footer 
            button.btn.btn-default(data-dismiss='modal', aria-hidden='true') Cancel
            button.btn.btn-primary(type='submit') Report
            
   
   